.env

/src/generated/prisma
uploads
storage

node_modules/

build/
dist/
.next/
.out/

*.zip
*.log
*.cache
coverage/

.env
.env.local

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
