.smartolt-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.barraBusquedaOlt{
    display: flex;
    margin: 1rem 5rem;
}

.barraBusquedaOlt input, select{
    margin: 0 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.smartolt-container .dashboard-header{
    margin: 1rem 4rem;
}


.contentTableSmartOlt{
    max-height: 500px;
    padding: 1rem 6rem;
    overflow-y: scroll;
}

.contentTableSmartOlt table{
    width: 100%;
    height: 100%;
}

.contentTableSmartOlt table tr th{
    text-align: center;
    background-color: #d9d9d97b;
    height: 50px;
    border-radius: 7px;
}

.contentTableSmartOlt table tr td {
    text-align: justify;
}
.contentTableSmartOlt .options{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contentTableSmartOlt .options button{
    margin: 1rem 1rem;
}

.status-icon {
  font-size: 20px;
  font-weight: bold;
}

td .status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ONLINE */
.status-icon.online {
  color: #2ecc71; /* verde */
}

/* POWER FAILED */
.status-icon.power-failed {
  color: #95a5a6; /* gris */
}

/* LOS */
.status-icon.los {
  color: #e74c3c; /* rojo */
}

/* DESCONOCIDO */
.status-icon.unknown {
  color: #f1c40f; /* amarillo */
}
